@import "./fonts/satoshi.css";
@import "./fonts/clash-grotesk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background color and font family */
body {
  background-color: #fffdf7;
  font-family: "Satoshi", sans-serif;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
  will-change: transform;
}
